@keyframes rotateInUpLeft {
  from {
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@mixin rotateInUpLeft {
  animation-name: rotateInUpLeft;
  transform-origin: left bottom;
}
.rotateInUpLeft {
  @include rotateInUpLeft;
}
