@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
    visibility: hidden;
  }

  10% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
    visibility: visible;
  }

  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
    visibility: visible;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@mixin backInRight {
  animation-name: backInRight;
}
.backInRight {
  @include backInRight;
}
